:root {
    --secondary-text: #757772;
    --main-bg: #FFFFFF;
}

body {
    background-color: #F6F1EB;
    margin: 0;
}

header {
    height: 135px;
    background-color: var(--main-bg);
    border-bottom: 1px solid #F3F3F3;
    display: flex;
    align-items: center;
}

.logo {
    margin-left: 50%;
    transform: translateX(-50%);
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
}

.phone {
    color: #0D6032;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 23.44px;
    text-decoration: none;
}

main {
    padding: 76px 12.5%;
}

.preview {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 78px;
}

@media (max-width: 1200px) {
    .preview {
        grid-template-columns: 1fr;
        gap: 20px;
    }
}

.preview-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.preview-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.preview-img {
    max-width: 100%;
}

.promote-wrapper {
    display: flex;
}

.preview-header-promote {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: var(--secondary-text);
    border: 1px dashed var(--secondary-text);
    border-radius: 40px;
    padding: 10px 18px;
}

.preview-header-content {
    font-family: Roboto;
    font-size: 50px;
    font-weight: 700;
    line-height: 64px;
}

.preview-body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: var(--secondary-text);
}

.preview-btn-wrapper {
    display: flex;
}

.preview-btn {
    padding: 22px 52px;
    border-radius: 40px;
    background-color: #0D6032;
    color: var(--main-bg);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-decoration: none;
}